.button {
    color: white;
    min-width: 150px;
    background-color: #509d32;
    border-style: none;
    cursor: pointer;
}

.button:hover {
    color: #509d32;
    background-color: #D6E5E3;
    border: 2px solid #2D3319;
}
