.project-goals-container {
    min-height: 100vh;

    display: flex;
}

.project-goals-container>.main>.content-section {
    padding: 48px;
}

.project-goals-container>.main>.content-section>.to-do-list>.tasks-container>.task-card>.delete-button {
    font-size: 14px;
    max-width: 120px;
}

.project-goals-container>.main>.content-section>.to-do-list>.tasks-container>.task-card {
    font-size: 18px;
}

@media (max-width: 768px) {

}
