.to-do-list {
    background-color: #f0f4f3;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-task {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.new-task input[type='text'] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #2f855a;
    border-radius: 4px;
    font-size: 16px;
}

.add-button {
    background-color: #2f855a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-button:hover {
    background-color: #276749;
}

.tasks-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.task-notif {
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}