.content-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: #2f2f2f;
    background-color: #f0f4f3;
    min-height: 100vh;
    gap: 24px;
}

.project-details {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-heading {
    font-size: 20px;
    color: #4d4d4d;
    font-weight: 700;
    margin-bottom: 8px;
}

.project-name {
    font-size: 32px;
    color: #2f855a;
    margin-bottom: 16px;
}

.goals-section,
.snapshot-section {
    margin-bottom: 24px;
}

.daily-goals-container,
.daily-snapshot-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.textfield {
    min-height: 150px;
    padding: 16px;
    border: 1px solid #2f855a;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
}

.upload.button {
    background-color: #2f855a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.upload.button:hover {
    background-color: #276749;
}

.upload.button:active {
    background-color: #22543d;
}

.feedback-section {
    font-size: 14px;
}

/*RIGHT SIDEBAR STYLING*/

.right-sidebar {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 24px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-left: 2px solid #e2e8f0;
}

.project-history,
.team-members {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right-sidebar-heading {
    font-size: 20px;
    font-weight: 700;
    color: #2f855a;
    margin-bottom: 8px;
}

.project-history p,
.team-members p {
    font-size: 14px;
    color: #2f2f2f;
    margin-bottom: 8px;
    text-align: left;
}

.detail {
    font-weight: 700;
}

.quote {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}

.feedback-byline {
    font-style: italic;
    font-weight: 600;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        text-align: center;
    }

    .section-heading {
        text-align: left;
    }

    .feedback-section {
        text-align: left;
    }
}