.content-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;

    flex-grow: 1;

    padding: 8px;

    color: #2d2d2d;
}

.project-details {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 8 1 auto;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1 1 auto;

    border-left: 2px solid #D6E5E3;
    padding-left: 16px;

    padding-bottom: 8px;
}

.project-history {
    display: flex;
    flex-direction: column;
    gap: 8px;

    font-size: 16px;
}

.right-sidebar-heading {
    font-size: 20px;
}

#Button {
    border-radius: 25px;
    background-color: green;
}