.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2f855a;
    color: #f8f8f8;
    padding: 20px 32px;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.image-container {
    height: 80px;
    width: 80px;
}

.image-container img {
    height: 110%;
    width: 110%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.welcome {
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

.date {
    font-weight: 600;
    font-size: 18px;
    opacity: 0.9;
}

.right {
    text-align: right;
}
