.header-container {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;

    background-color: #509d32;
    color: #D6E5E3;

    padding: 8px;

    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.welcome {
    font-weight: 700;
    font-size: 36px;
    color: #f8f8f8;
}

.date {
    font-weight: 600;
    font-size: 20px;
    opacity: 90%;
}